<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CrudApps"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.crudapps.ui.HomeActivity"
            android:label="HomeActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.example.crudapps.ui.add.AddActivity"
            android:label="AddActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.example.crudapps.ui.update.UpdateActivity"
            android:label="UpdateActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.example.crudapps.ui.detail.DetailActivity"
            android:label="AddActivity"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>